@model LinkendInSecurity.Models.LoginViewModel;

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-controller="Account" asp-action="Login" method="post">
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
    </div>

    <div>
        <button type="submit">Login</button>
    </div>
</form>